# Zip up algorithms and add to the release

name: upload-algorithms

on:
  repository_dispatch:
    types: manual-publish
  release:
    types: [ created ]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Create algorithm zips
        if: ${{startsWith(github.ref, 'refs/tags/v') }}
        run: |
          chmod +x gradlew
          ./gradlew zipAlgorithms

      - name: Add algorithms to release
        uses: softprops/action-gh-release@v1
        if: ${{startsWith(github.ref, 'refs/tags/v') }}
        with:
          files: |
            algorithm-cs/build/algorithms/*.zip
            algorithm-eod/build/algorithms/*.zip
            algorithm-tnm/build/algorithms/*.zip
            algorithm-pediatric/build/algorithms/*.zip
